<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/tour_detail.css">
  <title>Chi tiết tour</title>
</head>

<body>
  <%- include('./partials/header') %>
    <div class="banner">
      <img src="<%= tour.image_detail %>">
    </div>

    <div class="content">
      <div class="left-content">
        <div class="path">
          <a href="/">Trang chu</a>
          <i class="bi bi-chevron-right"></i>
          <a href="">
            <%= tour.tour_name %>
          </a>
        </div>
        <div class="title">
          <h1><strong>
              <%= tour.tour_name%>
            </strong></h1>
        </div>
        <div class="review">
          <div class="rating">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
          </div>
          <div class="like-number">
            <p id="num-like" data-value="<%= tour.love %>" data-like="0">
              <%= tour.love %> lượt thích
            </p>
            <div class="icon-container">
              <i class="fa-regular fa-heart"></i> <!-- Biểu tượng trái tim rỗng -->
              <i class="fa-solid fa-heart hidden"></i> <!-- Biểu tượng trái tim đầy -->
            </div>
          </div>
        </div>
        <div class="intro-content">
          <p>
            <% if (tour.overview) { %>
              <% const overview=tour.overview.split('\n'); %>

                <% overview.forEach(item=> { %>
                  <p>
                    <%= item %>
                  </p>
                  <% }); %>
                    <% } %>
          </p>
        </div>
        <div class="highlight">
          <h2><strong>ĐIỂM NHẤN NỔI BẬT</strong></h2>
          <div class="highlight-detail">
            <% if (tour.highlights) { %>
              <% const highlights=tour.highlights.split('\n'); %>
                <% highlights.forEach(item=> { %>
                  <p>
                    <span class="sparkles">&#10024;</span>
                    <%= item %>
                  </p>
                  <% }); %>
                    <% } %>
          </div>
        </div>
        <div class="sight">
          <h2><strong>ĐIỂM THAM QUAN</strong></h2>
          <div class="owl-carousel">
            <% if (tour_attraction && tour_attraction.length> 0) { %>
              <% tour_attraction.forEach(attraction=> { %>
                <div class="item">
                  <img src="/<%= attraction.image %>" alt="<%= attraction.name %>" />
                  <h4>
                    <%= attraction.name %>
                  </h4>
                </div>
                <% }); %>
                  <% } else { %>
                    <p>Không có điểm tham quan nào.</p>
                    <% } %>

          </div>
        </div>
        <div class="timeline1">
          <h2><strong>LỊCH TRÌNH</strong></h2>
          <p><em>(Nhấp từng ngày để xem chi tiết)</em></p>
          <div class="timeline1">
            <div class="timeline">
              <% if (tour.itinerary) { %>
                <% tour.itinerary.forEach((item, index)=> { %>
                  <div class="timeline-item">
                    <div class="frame">
                      <div class="timeline-item-title" onclick="toggleContent(this)">
                        <%= item.day %>
                      </div>
                      <div class="timeline-content">
                        <p>
                          <%= item.description %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% }); %>
                    <% } %>
            </div>

            <div class="depart-price" id="departPriceSection">
              <h2><strong>LỊCH KHỞI HÀNH VÀ GIÁ</strong></h2>
              <div class="detail">
                <div class="depart">
                  <div class="tren">
                    <!-- Ngày đi -->
                    <div class="ngaydi">
                      <p><strong>
                          <%= new Date(tour.time_go).toLocaleDateString('vi-VN', { weekday: 'long' }) %>
                        </strong></p>
                      <h5><strong>
                          <%= new Date(tour.time_go).toLocaleDateString('vi-VN', { day: 'numeric' , month: 'long' ,
                            year: 'numeric' }) %>
                        </strong></h5>
                    </div>

                    <div class="icon">
                      <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </div>

                    <!-- Ngày về -->
                    <div class="ngayve">
                      <p><strong>
                          <%= new Date(tour.time_back).toLocaleDateString('vi-VN', { weekday: 'long' }) %>
                        </strong></p>
                      <h5><strong>
                          <%= new Date(tour.time_back).toLocaleDateString('vi-VN', { day: 'numeric' , month: 'long' ,
                            year: 'numeric' }) %>
                        </strong></h5>
                    </div>
                  </div>
                  <div class="duoi">
                    <h1>
                      <strong>MUA SỚM GIẢM SÂU - GIẢM <%= tour.original_price - tour.discounted_price %> VND</strong>
                    </h1>
                  </div>
                </div>
                <div class="price">
                  <div class="goc">
                    <p><strong>
                        <%= tour.original_price%>
                      </strong></p>
                  </div>
                  <div class="moi">
                    <p><strong>
                        <%= tour.discounted_price%>
                      </strong></p>
                  </div>
                  <button class="btn" id="checkoutTour">Đặt tour</button>
                </div>
              </div>
            </div>

            <div class="include">
              <h2><strong>TOUR BAO GỒM</strong></h2>
              <% if (tour.inclusions) { %>
                <% const inclusions=tour.inclusions.split('\n'); %>
                  <% inclusions.forEach(item=> { %>
                    <div class="include-st">
                      <% if (item.trim() !=="" ) { %> <!-- Kiểm tra nếu dòng không rỗng -->
                        <i class="fa-solid fa-square-check" style="color: green;"></i>
                        <% } %>
                          <p>
                            <%= item.trim() %>
                          </p>
                    </div>
                    <% }); %>
                      <% } else { %>
                        <p>Thông tin về các dịch vụ bao gồm sẽ được cập nhật sau.</p>
                        <% } %>
            </div>

            <div class="not-include">
              <h2><strong>TOUR KHÔNG BAO GỒM</strong></h2>
              <% if (tour.exclusions) { %>
                <% const exclusions=tour.exclusions.split('\n'); %>
                  <% exclusions.forEach(item=> { %>
                    <div class="not-include-st">
                      <% if (item.trim() !=="" ) { %> <!-- Kiểm tra nếu dòng không rỗng -->
                        <i class="fa-solid fa-circle-xmark" style="color: orange;"></i>
                        <% } %>
                          <p>
                            <%= item.trim() %>
                          </p>
                    </div>
                    <% }); %>
                      <% } else { %>
                        <p>Thông tin về các dịch vụ không bao gồm sẽ được cập nhật sau.</p>
                        <% } %>
            </div>
            <div class="note">
              <h2><strong>LƯU Ý</strong></h2>
              <p>
                <% if (tour.notes) { %>
                  <% const notes=tour.notes.split('\n'); %>

                    <% notes.forEach(item=> { %>
                      <p>
                        <%= item %>
                      </p>
                      <% }); %>
                        <% } %>
              </p>
            </div>
            <div class="docs">
              <button class="tk">Thông tin tham khảo</button>
            </div>
          </div>

        </div>
      </div>

      <div class="right-content">
        <section class="p-4 text-center w-100">
          <!-- Facebook -->
          <a class="m-1" style="color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>

          <!-- Twitter -->
          <a class="m-1" style="color: #55acee" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>

          <!-- Google -->
          <a class="m-1" style="color: #dd4b39" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>

          <!-- Instagram -->
          <a class="m-1" style="color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
        </section>
        <div class="sticky-element">
          <div class="info">
            <div class="info1">
              <div class="col1">
                <h1>Thời gian:</h1>
                <h1>Nơi khởi hành:</h1>
                <h1>Phương tiện:</h1>
                <h1>Mã tour:</h1>
                <h1>Giá từ:</h1>
              </div>
              <div class="col2">
                <h1>
                  <%=tour.days%> Ngày <%=tour.nights%> Đêm
                      <h1>
                        <%=tour.departure_location%>
                      </h1>
                      <h1>
                        <%=tour.transportation%>
                      </h1>
                      <h1>
                        <%=tour.tour_code%>
                      </h1>
                      <div style="display: flex">
                        <h1 id="price"></h1>
                        <h1>
                          <%= tour.original_price%>VND
                        </h1>
                      </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ads">
          <img src="/uploads/QT.jpg" />
          <button class="qt">Quan tâm</button>
        </div>
        <div class="post">
          <p>Bài viết mới nhất</p>
          <div class="session">
            <img src="/uploads/muathu.png" />
            <h5>THƯỞNG NGOẠN TUYỆT ĐỈNH MÙA THU HOKKAIDO</h5>
          </div>
          <div class="session">
            <img src="/uploads/nhatbanupload.png" />
            <h5>NHẬT BẢN: HÀNH TRÌNH Đi KIẾM TÌM VỀ KÝ ỨC XƯA</h5>
          </div>
          <div class="session">
            <img src="/uploads/hanquocupload.png" />
            <h5>TÌNH KHÚC LÃNG MẠN HOA ANH ĐÀO HÀN QUỐC</h5>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="moreInfo">
      <h1 style="color:#044c64"><strong>CÓ THỂ BẠN QUAN TÂM</strong></h1>
      <div class="carousel-tour owl-carousel">
        <% tours.forEach(tour=> { %>
          <div class="card tour-card">
            <img src="<%= tour.image || 'https://via.placeholder.com/400x200' %>" style="max-height:100%;"
              class="card-img-top" alt="<%= tour.tour_name %>">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <span class="tour-info">
                  <i class="fas fa-sun"></i>
                  <%= tour.days %> ngày
                    <i class="fas fa-moon"></i>
                    <%= tour.nights %> đêm
                </span>
              </div>
              <h5 class="tour-title">
                <%= tour.tour_name %>
              </h5>
              <div class="rating">
                <%- '★' .repeat(Math.floor(tour.rating)) %>
                  <%- tour.rating %>
              </div>
              <p class="card-text">
                <%= tour.description.slice(0, 100) %>...
              </p>
              <div class="tt">
                <div class="trai">
                  <p>Khởi hành:</p>
                  <p>Mã tour:</p>
                  <p>Giá từ:</p>
                </div>
                <div class="phai">
                  <p>
                    <%= tour.departure_location %>
                  </p>
                  <p>
                    <%= tour.tour_code %>
                  </p>
                  <p>
                  </p>
                </div>
              </div>
              <div class="price-btn">
                <div class="tour-price">
                  <%= tour.discounted_price %>
                </div>
                <div class="d-flex">
                  <a href="#" class="btn btn-primary btn-sm">Chọn</a>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
    <div class="sticky">
      <div class="summary">
        <div class="star">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
        </div>
        <div class="like_number">
          <p>
            <%= tour.love %> lượt thích
          </p>
        </div>
        <div class="lich">
          <button class="schedule" id="scheduleButton">Lịch khởi hành</button>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      const heartIcons = document.querySelectorAll('.fa-heart');



      heartIcons[1].addEventListener('click', () => {
        let new_like = Number($('#num-like').data('value'))
        if ($('#num-like').data('like') == 0) {
          new_like += 1
          $('#num-like').data('like', '1')
        } else {
          new_like -= 1
          $('#num-like').data('like', '0')
        }

        console.log('Current like: ', new_like)
        $('#num-like').text(`${new_like} lượt thích`).data('value', new_like)
        heartIcons[0].classList.toggle('hidden'); // Hiện lại biểu tượng rỗng
        heartIcons[1].classList.toggle('hidden'); // Ẩn biểu tượng đầy
      });
      const button = document.getElementById('scheduleButton');
      const targetSection = document.getElementById('departPriceSection');

      button.addEventListener('click', () => {
        targetSection.scrollIntoView({ behavior: 'smooth' }); // Cuộn đến phần mục tiêu
      });
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          loop: true, // Vòng lặp
          autoplay: true,
          autoplayTimeout: 1500, // Thời gian giữa các lần chuyển
          autoplayHoverPause: true, // Tạm dừng khi di chuột qua
          margin: 10, // Khoảng cách giữa các item
          nav: true, // Hiển thị nút điều hướng
          responsive: {
            0: {
              items: 1, // 1 item trên màn hình nhỏ
            },
            600: {
              items: 1, // 1 item trên màn hình trung bình
            },
            1200: {
              items: 3, // 3 item trên màn hình lớn
            },
          },
        });
        $(".carousel-tour").owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          autoplay: true,
          autoplayTimeout: 3000,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 5,
            },
            1000: {
              items: 4,
            },
          },
        });

      });
      function toggleContent(element) {
        const content = element.nextElementSibling;
        content.classList.toggle('show');
      }
      $('#checkoutTour').on('click', function () {
        const url = window.location.href
        const tourId = url.split('/').pop()
        fetch(`/checkout/${tourId}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then(data => {
            window.location.href = data.url
          })
      })
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>

</html>